PORT= 8000
MONGODB_URI= mongodb+srv://aryan-singh-dev:<PASSWORD>@cluster0.b0i1ivp.mongodb.net
JWT_SECRET=complexstring
JWT_EXPIRES_IN=1d

REFRESH_TOKEN=complexstringnumber2
REFRESH_TOKEN_EXPIRES_IN=10d

CLOUDINARY_CLOUD_NAME= cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret